
body {
    background: #e6e6ff;
    overflow-x: hidden;
}

h2 {
    color: #666;
    font-size: 2em;
}

h3 {
}

a {
    color: inherit;
    text-decoration: none;
}

.color-red {
    color: #f00;
}

.article .body {
    margin-bottom: 32px;
}

.related-article-card {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    max-height: 114px;
}

.related-article-card a {
    display: block;
    height: 112px;
}

.related-article-card .thumbnail {
    background: #e6e6ff;
    float: left;
}

.related-article-card .related-body {
    line-height: 112px;
}

.related-article-card .title-block {
    float: left;
    padding-left: 12px;
}

.related-article-card .title {
    font-weight: 800;
}

.related-article-card .redirect-link {
    font-style: italic;
    font-size: .75em;
}
